
<div class="container" style=" margin-top: 60px;">
    <div class="card-panel blue darken-4 story">
    <div class="skyscraper"></div>
    <div  id="ssbg"></div>
        <div class="container" id="whiteText">
            <h4 class="textawesome">The origin of skyscrapers</h4>
            <p class="textawesome">
                Mother tell me of the birds,
                <br> how they soar,
                <br> the summer of their flights
                <br>
                <br> They soar because they know the wind,
                <br> They know his currents
                <br> and his secret heart
                <br>
                <br> Is their song happy?
                <br> Ever joyful, song on the air
                <br> Do they seek to conquer?
                <br> Only themselves
                <br>
                <br> And why do they stop short
                <br> of the city’s towering gates,
                <br> Is the height too great,
                <br> the air too thin?
                <br>
                <br> They laugh over such a height,
                <br> but are mindful of their kindred’s
                <br> fate:
                <br>
                <br> Here in the city, birds do not fly;
                <br> overfed, grounded by their greed,
                <br> They burrow into the sky
            </p>
        </div>
    </div>
</div>
