<div class="container">
    <div class="row">
        <div class="col s4">
            <div class="card small">
                <div class="card-image">
                    <img src="http://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-content">
                    <div class="card-stacked">
                        <p>This is where the title of the report will go</p>
                    </div>
                    <div class="card-action">
                        <a href="#">More...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card small">
                <div class="card-image">
                    <img src="http://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>This is where the title of the report will go</p>
                    </div>
                    <div class="card-action">
                        <a href="#">More...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card small">
                <div class="card-image">
                    <img src="http://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>This is where the title of the report will go</p>
                    </div>
                    <div class="card-action">
                        <a href="#">More...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
