
<!-- <ul>
<li><i class="material-icons prefix" id="special">search</i><input  ng-model="searchText.text" ng-keypress="startFilter = true;" class="search" id="srch"></li>
</ul> -->
<!-- TODO: search -->
        <!-- <div class="col s4" ng-hide="!startFilter" ng-repeat="data in databaseLoad track by $index | filter:searchText">
            <div class="card small">
                <div class="card-image">
                    <img ng-src="{{data.imageUrl}}">
                </div>
                <div class="card-content">
                    <div class="card-stacked">
                        <p>{{data.report}}</p>
                    </div>
                    <div class="card-action">
                        <a href="#">More...</a>
                    </div>
                </div>
            </div>
        </div> -->

<div class="addtopmargin" ng-hide="showMore">
<div class="container">

    <div class="row">
        <div class="col s4" ng-repeat="data in databaseLoad">

            <div class="card small">
                <div class="card-image">
                    <img ng-src="{{data.imageUrl}}">
                </div>
                <div class="card-content">
                    <div class="card-stacked">
                        <p>{{data.report.substring(0, 35) + '...'}}</p>
                    </div>
                    <div class="card-action">

                        <a ng-click="more(data._id)">More...</a>
                        <a class="waves-effect waves-light btn-small white fancybtn"><i class="material-icons left">thumb_up</i></a>
                        <a class="waves-effect waves-light btn-small white lighten-4 fancybtn"><i class="material-icons left">thumb_down</i></a>
                        <p>Votes:    1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</div>

<div class="container" style="margin-top:80px; text-align:center;" ng-show="showMore">
    <div class="card-panel">
        <h2>{{postInput.user}}</h2>

        <img style="width: 250px; height: 250px; margin: auto;"ng-src="{{postInput.imageUrl}}"/>

        <br><br>
        <p>{{postInput.report}}</p></div>
    <a type="button" class="btn waves-effects waves-light darken-2 blue" ng-click="showMore = !showMore" style="margin-top: 20px; margin: auto; margin-bottom: 60px;">Close</a>

  </div>
