<div class="container addtopmargin">
    <div class="card-panel" ng-hide="userLoggedIn">
        <div class="row">
            <form class="col s12">
                <div class="row">
            <form class="col s12" >
            <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="username" id="username" type="text" class="validate" ng-model="userLogin.username">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="password" id="password" type="password" class="validate" ng-model="userLogin.password">
                    </div>
                </div>
                <a class="btn waves-effect waves-light blue darken-2" type="submit" name="Login" ng-click="login(userLogin)">Login</a>
                <a class="btn waves-effect waves-light blue lighten-2" name="CNAA" ng-click="signUp(userLogin)">Create New Anonymous Account</a>
            </form>
        </div>
    </div>
</div>
</div>
<!-- This code below is for the input view to be activated by NG-SHOW -->
<div class="container" ng-show="userLoggedIn">
    <div class="card-panel">
            <div class="file-field input-field">
                <div class="btn blue darken-2">
                    <span>Select File or Folder</span>
                    <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                </div>
            </div>
            <div class="row">
                <div class="col s6 offset-s8">
                      <a class="btn waves-effect waves-light grey" name="NewDoc" ng-click="formToggle(textForm)"><span ng-hide="textForm">Add</span><span ng-hide="!textForm">Remove</span> Text</a>
                  <br ng-hide="textForm">
                  <br ng-hide="textForm">
                      <button class="btn waves-effect waves-light green darken-1" ng-hide="textForm" name="Upload" ng-click="uploadFiles(user, 0, busboy)">Upload</button>
                  <br>
                  <br>
                      <a class="btn waves-effect waves-light green lighten-1" name="Edit" ng-click="toggleEdit()">Edit Existing File</a>
                </div>
            </div>

    </div>
</div>
<!-- This is the text area that will NG-SHOW when the user clicks on the create something new button -->
<div class="container" ng-show="textForm">
    <div class="card-panel">
        <label>Title</label>
        <input type="text" name="Title" ng-model="textFile.title">
        <textarea style="height: 200px; resize: none;" name="report" id="report" cols="30" rows="10" ng-model="textFile.content"></textarea>
        <br>
        <br>
      <button class="btn waves-effect waves-light green" name="Upload"  ng-click="uploadFiles(user, 1, busboy)">Upload</button>
    </div>
</div>

<div class="container" ng-show="newItemCreated">
  <div class="card-panel">
    <label>Title</label>
    <input type="text" name="Title">
    <textarea style="height: 200px;" name="report" id="report" cols="30" rows="10"></textarea>
    <br>
    <br>
    <button class="btn waves-effect waves-light green" name="Upload" type="submit">Upload</button>
  </div>
</div>
</form>


<!-- This is the table that users who have logged in will use to preform CRUD actions -->
<div class="container"  ng-repeat="data in userHistory track by $index" ng-show="editEnabled">
  <div class="card-panel">
    <table class="highlight">
            <thead>
              <tr>
                  <th data-field="fileName">{{data.imageName}}</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td colspan="3">{{data.content}}</td>
              </tr>
              <tr>
                <td colspan="3">{{data.imageUrl}}</td>
                <td>
                  <a class="btn waves-effect waves-light blue lighten-2">Download</a>
                  <a class="btn waves-effect waves-light red" name="CNAA">Delete</a>
                  <a class="btn waves-effect waves-light green">Edit</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
