#srch {
	position: fixed; !important;
	top: 0;
	right: 0;
	width: 300px;
	height: 30px;
	padding: 0 0 0 0 !important;
	margin: 15px 0 0 0 !important;
	z-index: 101;
}

#special {
	position: fixed; !important;
	top: 20px;
	right: 305px;
	z-index: 101;
}

#whiteText {
	color: ghostwhite !important;
	z-index: 5;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 50px 50px 50px 50px;
}

.story {
	position: relative;
}

.skyscraper {
	position: absolute;
	background-image: url('../../images/empire.jpg');
	background-size: cover !important;
	background-position: center !important;
	opacity: 0.2;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	padding: 10px 10px 10px 10px;
}

#ssbg {
	background-color: darkblue;
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	display: block;
}

.fancybtn {
	text-align: center;
	min-width: 2rem;
	color: black !important;
	padding: 10px 10px 10px 20px;
	border-radius: 40%
}

#navSticky {
	position: fixed; !important;
	top: 0;
	right: 0;
	position: fixed;
	z-index: 100;
}
